@model DangNhapRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Stylesheet.css" rel="stylesheet" />
    <link href="~/MyStyle.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="container-form center-box" style="padding-bottom:15px;">
                <h3 class="text-center" style="padding-top: 20px; padding-left:20px;">Đăng nhập - Đăng ký hẹn khám</h3>
                <form asp-controller="NguoiDung" asp-action="DangNhap" method="post">

                    @*SDT*@
                    <div class="form-field flex">
                        <div class="w-25">
                            <label asp-for="SoDienThoai" class="form-label pt">Số điện thoại</label>
                        </div>
                        <div class="flex-1">
                            <input asp-for="SoDienThoai" class="form-input" />
                            <span asp-validation-for="SoDienThoai" class="text-red"></span>
                        </div>
                    </div>

                    @*Mat Khau*@
                    <div class="form-field flex">
                        <div class="w-25">
                            <label asp-for="MatKhau" class="form-label pt">Mật khẩu</label>
                        </div>
                        <div class="flex-1">
                            <input asp-for="MatKhau" class="form-input" type="password" />
                            <span asp-validation-for="MatKhau" class="text-red"></span>
                        </div>
                    </div>
                    @*Submit*@
                    <div class="form-field flex">
                        <div class="w-25">
                        </div>
                        <div class="flex-1">
                            <button class="dk-button">Đăng nhập</button>

                            <div asp-validation-summary="All" class="text-red"></div>

                            @if (ViewBag.Errors != null)
                            {
                                <div class="text-red ml">
                                    <ul>
                                        @foreach (string error in ViewBag.Errors)
                                        {
                                            <li class="ml">@error</li>
                                        }
                                    </ul>
                                </div>
                            }
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="text-red ml">
                                    <ul>
                                        @ViewBag.ErrorMessage
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                    <div style="margin-left:20px;"> Chưa có tài khoản? <a href="/DangKy">Đăng ký</a>
                        Hoặc muốn hẹn khám ngay?
                        <span style="margin-left:5px;"> <a href="/thongtinhenkham">Đăng ký khám ngay</a></span>
                        </div>
                    
                </form>
               
            </div>
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
