@model ThongTinHenKhamUpdateRequest

<div class="container-form center-box">
    <h3 class="text-center" style="padding-top: 20px; padding-left:20px;">Cập nhật thông tin hẹn khám</h3>
    <form asp-controller="ThongTinHenKham" asp-action="CapNhatThongTinHenKham" method="post">
        <input type="hidden" asp-for="ThongTinHenKhamID" />
        @*HoTen*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="HoTen" class="form-label pt">Họ và Tên <span class="text-red">(*)</span></label>
            </div>
            <div class="flex-2">
                <input asp-for="HoTen" class="form-input" />
                <span asp-validation-for="HoTen" class="text-red"></span>
            </div>
        </div>


        @*SDT*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="SoDienThoai" class="form-label pt">Số điện thoại <span class="text-red">(*)</span></label>
            </div>
            <div class="flex-2">
                <input asp-for="SoDienThoai" class="form-input" />
                <span asp-validation-for="SoDienThoai" class="text-red"></span>
            </div>
        </div>

        @*Ngay Sinh*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="NgaySinh" class="form-label pt">Ngày sinh<span class="text-red">(*)</span></label>
            </div>
            <div class="flex-2">
                <input type="date" asp-for="NgaySinh" class="form-input" />
                <span asp-validation-for="NgaySinh" class="text-red"></span>
            </div>
        </div>

        @*GioiTinh*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="GioiTinh" class="form-label pt">Giới tính</label>
            </div>
            <div class="flex-2">
                <select asp-for="GioiTinh" asp-items="ViewBag.GioiTinhOptions" class="form-input"></select>
                <span asp-validation-for="GioiTinh" class="text-red"></span>
            </div>
        </div>

        @*DiaChi*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="DiaChi" class="form-label pt">Địa chỉ<span class="text-red">(*)</span></label>
            </div>
            <div class="flex-2">
                <input asp-for="DiaChi" class="form-input" />
                <span asp-validation-for="DiaChi" class="text-red"></span>
            </div>
        </div>


        @*PhongKham*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="PhongKhamID" class="form-label pt">Phòng khám</label>
            </div>
            <div class="flex-2">
                <select asp-for="PhongKhamID" asp-items="ViewBag.PhongKhamOptions" class="form-input"></select>
                <span asp-validation-for="PhongKhamID" class="text-red"></span>
            </div>
        </div>

        @*LoaiKham*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="LoaiKhamID" class="form-label pt">Loại khám</label>
            </div>
            <div class="flex-2">
                <select asp-for="LoaiKhamID" asp-items="ViewBag.LoaiKhamOptions" class="form-input"></select>
                <span asp-validation-for="LoaiKhamID" class="text-red"></span>
            </div>
        </div>

        @*Ngay Kham*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="NgayHenKham" class="form-label pt">Ngày đặt hẹn<span class="text-red">(*)</span></label>
            </div>
            <div class="flex-2">
                <input type="date" asp-for="NgayHenKham" class="form-input" />
                <span asp-validation-for="NgayHenKham" class="text-red"></span>
            </div>
        </div>

        @*LyDoVaoVien*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="LyDoKham" class="form-label pt">Lý do đến khám</label>
            </div>
            <div class="flex-2">
                <input asp-for="LyDoKham" class="form-input" />
                <span asp-validation-for="LyDoKham" class="text-red"></span>
            </div>
        </div>

        <input type="hidden" asp-for="NguoiDungID" class="form-input" />

        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="dk-button">Cập nhật</button>

                <div asp-validation-summary="All" class="text-red"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
                @if (ViewBag.Message != null)
                {
                    <div class="text-green ml">
                        <ul>
                            @ViewBag.Message
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>
</div>
