@model ThongTinHenKhamUpdateRequest

<div class="container-form center-box">
    <h3 class="text-center" style="padding-top: 20px; padding-left:20px;">Đăng ký thông tin hẹn khám</h3>
    <table>
        <tr>
            <td class="with-30 bold">Họ và tên:</td>
            <td> @Model?.HoTen</td>
        </tr>
        <tr>
            <td class="with-30 bold">Số điện thoại:</td>
            <td>@Model?.SoDienThoai</td>
        </tr>
        <tr>
            <td class="with-30 bold">Ngày sinh:</td>
            <td>@Model?.NgaySinh?.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <td class="with-30 bold">
                Giới tính:
            </td>
            <td>
                @Model?.GioiTinh
            </td>
        </tr>
        <tr>
            <td class="with-30 bold">Địa chỉ:</td>
            <td>@Model?.DiaChi</td>
        </tr>
        <tr>
            <td class="with-30 bold">Phòng khám:</td>
            <td>
                @if (ViewBag?.PhongKham?.PhongKhamID == Guid.Empty)
                {

                }
                else
                {
                    @ViewBag?.PhongKham?.TenPhongKham
                }

            </td>
        </tr>
        <tr>
            <td class="with-30 bold">
                Loại khám:
            </td>
            <td>
                @if (@ViewBag?.LoaiKham.LoaiKhamID == Guid.Empty)
                {

                }
                else
                {
                    @ViewBag?.LoaiKham.TenLoaiKham
                }
            </td>
        </tr>
        <tr>
            <td class="with-30 bold">Ngày hẹn khám:</td>
            <td>@Model?.NgayHenKham?.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <td class="with-30 bold">Lý do khám:</td>
            <td>@Model?.LyDoKham</td>
        </tr>
    </table>
    <form asp-controller="ThongTinHenKham" asp-action="CapNhatTrangThai" method="post">
        <input type="hidden" asp-for="ThongTinHenKhamID" />
        
        @*LoaiKham*@
        <div class="form-field flex">
            <div class="w-50">
                <label asp-for="TrangThai" class="form-label pt">Trạng thái</label>
            </div>
            <div class="flex-2">
                <select asp-for="TrangThai" asp-items="ViewBag.DSTrangThai" class="form-input"></select>
                <span asp-validation-for="TrangThai" class="text-red"></span>
            </div>
        </div>

      

        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="dk-button">Cập nhật</button>

                <div asp-validation-summary="All" class="text-red"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
                @if (ViewBag.Message != null)
                {
                    <div class="text-green ml">
                        <ul>
                            @ViewBag.Message
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>
</div>

