@model ThongTinHenKhamResponse
<table class="table mb custom-table">
    <tr>
        <td> 1. Đăng ký khám</td>
        <td class="arrow">></td>
        <td> 2. Xác nhận</td>
        <td class="arrow">></td>
        <td><span class="text-red">3. Hoàn tất</span></td>
    </tr>
</table>
<div class="container-form center-box" style="padding-bottom:15px;">
    <h3 class="text-center" style="padding-top: 20px; padding-left:20px;">Thông tin hẹn khám đã được tiếp nhận. Vui lòng xem trạng thái xác nhận</h3>
    <a href="/lichsuhenkham" style="margin-left:20px;">Lịch sử hẹn khám</a>
    <img src="~/images/tick.png" class="text-center" style="width:350px; height:auto;">
</div>
